body {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
  background-color: #fff;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
}
img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1,
h2 {
  font-weight: 700;
  text-align: center;
}
h1 {
  font-size: 56px;
  line-height: 1.07143;
}
h2 {
  font-size: 36px;
  line-height: 1.11111;
}

h3 {
  font-weight: 500;
  line-height: 1.2;
  font-size: 20px;
}

a {
  color: #2e2f42;
  text-decoration: none;
}

ul,
ol {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
}

p {
  margin: 0;
  font-weight: 400;
}
button {
  border: none;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.section {
  padding: 120px 0;
}

.container-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 24px 0;
}

.navigation {
  display: flex;
  gap: 76px;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  line-height: 1.16667;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.03em;
}
.logo span {
  color: #4d5ae5;
}

.navigation-list {
  display: flex;
  gap: 40px;
  align-items: center;
}

.navigation-list > li:first-child {
  position: relative;
}

.navigation-list > li:first-child .navigation-item-link {
  color: #404bbf;
}

.navigation-list > li:first-child .navigation-item-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -24px;
  border-radius: 2px;
  width: 48px;
  height: 4px;
  background-color: #404bbf;
}

.navigation-item-link {
  font-weight: 500;
}

.navigation-item-link:hover,
.navigation-item-link:active,
.address-item-link:hover {
  color: #404bbf;
}

.address-list {
  display: flex;
  gap: 40px;
}

.address-item-link {
  color: #434455;
  font-style: normal;
}

.section-bg {
  max-width: 1440px;
  margin: 0 auto;
  padding: 188px 0;
  background-color: #2e2f42;
  background-image:
    linear-gradient(to left, rgba(46, 47, 66, 0.7)),
    url(../images/People-office.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 188px 0;
}
.main-title {
  color: #fff;
  text-align: center;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.btn-order {
  width: 169px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.btn-order:hover {
  background-color: #404bbf;
}

.btn-order {
  cursor: pointer;
  color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.features-list {
  display: flex;
  gap: 24px;
}

.features-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: calc((100% - 3 * 24px) / 4);
}
.features-icon-wrapp {
  border: 1px solid #8e8f99;
  border-radius: 4px;
  background-color: #f4f4fd;
  height: 112px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.features-item-text {
  color: #434455;
}

.section-team {
  background-color: #f4f4fd;
}

.title {
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-item {
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
  flex-basis: calc((100% - 3 * 24px) / 4);
}

.team-item-wrapp {
  padding: 32px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.team-item-text {
  color: #434455;
}
.social-icons-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.social-icons-item {
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transition: background-color 200ms ease-in;
}
.social-icons-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icons-item:hover {
  background-color: #404bbf;
}

.social-icons {
  fill: #f4f4fd;
}

.section-portfolio-text {
  color: #434455;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  flex-basis: calc((100% - 2 * 24px) / 3);
}

.portfolio-item:hover .wrapp-overlay {
  transform: translateY(0);
}
.hidden-text-wrapp {
  position: relative;
  overflow: hidden;
}
.wrapp-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px 0px 32px;
  background-color: #404bbf;
  color: #f4f4fd;
  transform: translateY(100%);
  transition: transform 300ms ease-in-out;
}

.portfolio-img {
  width: 360px;
}
.portfolio-wrapp {
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer-wrapp {
  display: flex;
  gap: 120px;
}
.logo-footer {
  color: #fff;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-text {
  color: #f4f4fd;
  max-width: 264px;
}
.social-icons-wrapp .social-icons-list {
  gap: 16px;
}
.social-icons-wrapp .social-icons-list .social-icons-item {
  transition: background-color 300ms ease-in;
}
.social-icons-wrapp .social-icons-list .social-icons-item:hover {
  background-color: #31d0aa;
}
.footer-social-text {
  font-weight: 500;
  color: #fff;
  margin-bottom: 16px;
}
